@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .container{
        @apply w-screen h-screen;
        grid-template-areas: "stack";
    }
    .container > *{
        grid-area: stack;
        animation: parallax linear;
        animation-timeline: scroll();
    }
}

@layer components{
    .nav_bg{
        @apply bg-transparent dark:bg-transparent fixed w-full z-20 top-0 start-0;
    }
    .nav_current{
        @apply block py-2 px-3 text-comp_orange text-xl mx-8 md:bg-transparent md:text-comp_orange md:p-0 md:dark:text-comp_orange;
    }
    .nav_options{
        @apply block py-2 px-3 text-white text-xl hover:bg-gray-100 mx-8 md:hover:bg-transparent md:hover:text-supaw_green md:p-0 md:dark:hover:text-white dark:text-supaw_green dark:hover:bg-gray-700 dark:hover:text-supaw_green md:dark:hover:bg-transparent dark:border-gray-700;
    }
    .nav-hidden {
        transform: translateY(-100%); /* Move the navbar out of view */
        transition: transform 0.3s ease-out; /* Smooth transition */
    }
    .nav_bg {
        transition: transform 0.3s ease-out; /* Transition for showing/hiding */
    }
    /* Home */
    .bg{
        @apply w-full h-full max-w-full max-h-full bg-cover absolute z-0 overflow-y-visible;
    }
    .doge{
        @apply md:w-3/5 md:bottom-6 2xl:w-2/3 absolute right-0 bottom-0 z-30;
    }
    .quote{
        @apply font-dmsans font-black italic absolute z-20 lg:text-8xl lg:inset-x-32 lg:inset-y-36 text-left text-comp_orange tracking-normal;
    }
    .bridge{
        @apply w-full absolute z-10 -bottom-24;
    }
    /* About */
    .about{
        @apply w-full h-screen bg-comp_orange  absolute z-0 overflow-y-visible;   
    }
}

@keyframes parallax {
    to {
        transform: translateY();
    }
}
