@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    /* base */
    .container{
        @apply w-full h-screen;
        grid-template-areas: "stack";
    }
    .container > *{
        grid-area: stack;
        animation: parallax linear;
        animation-timeline: scroll();
    }
    /* nav */
    .nav_bg{
        @apply bg-transparent dark:bg-transparent fixed w-full z-20 top-0 start-0;
    }
    .nav_current{
        @apply block py-2 px-3 text-comp_orange text-xl mx-8 md:bg-transparent md:text-comp_orange md:p-0 md:dark:text-comp_orange;
    }
    .nav_options{
        @apply block py-2 px-3 text-white text-xl hover:bg-gray-100 mx-8 md:hover:bg-transparent md:hover:text-supaw_green md:p-0 md:dark:hover:text-white dark:text-supaw_green dark:hover:bg-gray-700 dark:hover:text-supaw_green md:dark:hover:bg-transparent dark:border-gray-700;
    }
    .nav-hidden {
        transform: translateY(-100%); /* Move the navbar out of view */
        transition: transform 0.3s ease-out; /* Smooth transition */
    }
    .nav_bg {
        transition: transform 0.3s ease-out; /* Transition for showing/hiding */
    }
    /* Home */
    .bg{
        @apply w-full h-full bg-cover absolute z-0 overflow-x-hidden overflow-y-hidden;
    }
    .bg_hz{
        @apply hidden md:block md:object-cover md:absolute md:z-0;
    }
    .bg_vert{
        @apply object-cover w-full h-full absolute z-0 md:hidden;
    }
    .doge{
        @apply w-full scale-125 bottom-1/4 md:w-3/5 md:bottom-10 md:right-0 2xl:w-2/3 absolute z-30;
    }
    .quote{
        @apply font-dmsans font-black italic absolute z-20 text-5xl text-left inset-x-8 top-1/4 md:text-6xl lg:text-8xl lg:inset-x-32 lg:inset-y-32 2xl:text-9xl 2xl:inset-x-32 2xl:inset-y-40 text-left text-comp_orange tracking-normal;
    }
    .bridge{
        @apply w-full absolute z-30 scale-125 bottom-0 left-12 md:scale-100 md:left-0 md:-bottom-8 lg:-bottom-14;
    }
    /* About */
    .about{ 
        @apply w-full h-screen max-w-full bg-comp_orange grid overflow-x-hidden overflow-y-hidden;   
    }
    .title1{
        @apply font-dmsans text-4xl text-center mt-12 lg:text-6xl font-extrabold text-black max-w-full
    }
}

@keyframes parallax {
    to {
        transform: translateY();
    }
}
