@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .container{
        @apply w-screen h-dvh min-h-screen;
    }
}

@layer components{
    .nav_bg{
        @apply bg-transparent dark:bg-transparent fixed w-full z-20 top-0 start-0;
    }
    .nav_current{
        @apply block py-2 px-3 text-white text-lg mx-8 md:bg-transparent md:text-comp_orange md:p-0 md:dark:text-white ;
    }
    .nav_options{
        @apply block py-2 px-3 text-gray-900 text-lg hover:bg-gray-100 mx-8 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
    }
    /* Home */
    .bg{
        @apply w-full h-full bg-cover absolute z-0;
    }
    .doge{
        @apply w-2/3 absolute right-0 bottom-0 z-30;
    }
    .quote{
        @apply font-dmsans font-black italic text-9xl text-left text-comp_orange tracking-normal absolute z-20 inset-x-32 inset-y-48;
    }
}
